h1 {
    color: #a32d51;
}

h2 {
    font-size: 25px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #a32d51;
    font-weight: 900;
    font-size: 16px;
}

a:hover{
    text-decoration: underline;
    color: purple;
    font-size: 16px;
}
